.about__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about__image {
  width: 320px;
  margin-left: -15px;

  img {
    display: block;
    width: 320px;
    height: 400px;
    max-width: none;
  }
}

.about__title {
  margin-bottom: 25px;
}

.about__text-content {
  h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
