.about__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about__image {
  width: 320px;
  margin-left: -15px;

  img {
    display: block;
    width: 320px;
    height: 400px;
  }
}

.about__title {
  margin-bottom: 25px;
}

.about__text-content {
  h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about__image {
    width: 450px;
    margin-left: -45px;
    margin-top: 134px;

    img {
      width: 450px;
      height: 350px;
    }
  }

  .about__info {
    width: 270px;
  }

  .about__title {
    margin-bottom: 36px;
  }

  .about__text-content {
    h3 {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
