.burger {
  display: flex;
  align-items: center;
  padding: 3.5px 5px;
  width: 36px;
  height: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active,
  &:disabled,
  &--disabled {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;

    &:focus-visible {
      opacity: 0.3;
    }
  }
}

.burger--active {
  .burger__icon {
    width: 26px;
    transform: translateY(1px) rotate(45deg);
  }

  .burger__icon::before {
    transform: translateY(8px) rotate(-90deg);
  }

  .burger__icon::after {
    display: none;
  }
}

.burger__icon {
  position: relative;
  display: block;
  width: 16.5px;
  height: 2px;
  background-color: $base-white;
  transition: 0.3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 26px;
    height: 2px;
    margin-bottom: 6.5px;
    background-color: $base-white;
    transition: 0.3s ease;
  }

  &::after {
    top: 100%;
    margin-top: 6.5px;
    margin-bottom: 0;
  }
}
