.callback {
  position: relative;
  color: $base-white;
  text-align: center;
  background-color: $dark-green;
  background-image:
    image-set(
      url("../../img/pine-woods-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/pine-woods-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/pine-woods-mobile@1x.png") type("image/png") 1x,
      url("../../img/pine-woods-mobile@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $linear-gradient-alt;
  }
}

.callback__wrapper {
  position: relative;
  padding-top: 177px;
  padding-bottom: 174px;
}

.callback__title {
  margin-bottom: 18px;
}

.callback__text-content {
  margin-bottom: 19px;
  padding: 0 35px;
  font-size: 12px;
  line-height: 18px;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.callback__form {
  width: 258px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .callback {
    background-image:
      image-set(
        url("../../img/pine-woods-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/pine-woods-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/pine-woods-tablet@1x.png") type("image/png") 1x,
        url("../../img/pine-woods-tablet@2x.png") type("image/png") 2x
      );
  }

  .callback__wrapper {
    padding-top: 184.5px;
    padding-bottom: 181.5px;
  }

  .callback__title {
    margin-bottom: 25px;
  }

  .callback__text-content {
    width: 360px;
    margin: 0 auto 25px;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
  }

  .callback__form {
    width: 360px;
  }
}

@media (min-width: $desktop-width) {
  .callback {
    background-image:
      image-set(
        url("../../img/pine-woods-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/pine-woods-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/pine-woods-desktop@1x.png") type("image/png") 1x,
        url("../../img/pine-woods-desktop@2x.png") type("image/png") 2x
      );
  }

  .callback__wrapper {
    padding-top: 292.5px;
    padding-bottom: 292.5px;
  }

  .callback__title {
    margin-bottom: 20px;
  }

  .callback__text-content {
    width: auto;
    margin: 0 auto 40px;
  }

  .callback__form {
    width: 960px;
  }
}
