.contacts-list {
  @include list-reset;
}

.contacts-list__item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__icon {
  flex-shrink: 0;

  svg,
  img {
    display: block;
    width: 22px;
    height: 22px;
  }
}

.contacts-list__text {
  padding-right: 75px;
}

.contacts-list__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.contacts-list__value {
  display: block;
  margin: 0;
  color: $primary-color;
  text-decoration: none;

  &--link {
    &:hover,
    &:focus-visible {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

  .contacts-list__item {
    margin: 0;
  }

  .contacts-list__icon {
    svg,
    img {
      width: 24px;
      height: 24px;
    }
  }

  .contacts-list__text {
    padding: 0;
  }

  .contacts-list__title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 16px;
  }

  .contacts-list__value {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    display: block;
  }

  .contacts-list__item {
    column-gap: 30px;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-list__icon {
    margin-top: 12px;

    svg,
    img {
      width: 26px;
      height: 26px;
    }
  }

  .contacts-list__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
  }

  .contacts-list__value {
    font-size: inherit;
    line-height: inherit;
  }
}
