.form__field {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__button {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: $tablet-width) {
  .form__field {
    margin-bottom: 11px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__button {
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    form {
      display: flex;
      gap: 30px;
    }
  }

  .form__field {
    margin-bottom: 0;
    width: 360px;
  }

  .form__button {
    margin-top: 0;
    width: 180px;
  }
}
