.logo {
  display: inline-block;

  img {
    display: block;
    width: 143.1px;
    height: 42.5px;
    object-fit: cover;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
