.logo {
  display: inline-block;

  img {
    display: block;
    width: 142px;
    height: 42px;
    object-fit: cover;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 205px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--dark {
      width: 200px;
      height: 60px;
    }
  }
}
