.main-nav {
  background-color: $secondary-color;
}

.main-nav__list {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: auto;
  }
}
