.main-nav {
  background-color: $secondary-color;
}

.main-nav__list {
  width: 320px;
  max-height: calc(100vh - 100px);
  margin: 0 auto;
  overflow: scroll;
  scrollbar-width: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    width: 768px;
    max-height: calc(100vh - 82px);
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: auto;
    max-height: none;
    overflow: visible;
  }
}
