.main-header {
  position: relative;
  z-index: 2;
  color: $base-white;
  background-color: $secondary-color;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 13px;
}

.main-header__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 234px;
}

.main-header__phone {
  margin-top: 16px;
}

.main-header__nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  margin-top: -1px;
  overflow: hidden;
  transition: 0.2s ease-in;
}

.main-header__nav--shown {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-header__burger {
    margin-top: 8px;
    margin-right: auto;
  }

  .main-header__container {
    flex-direction: row;
    align-items: flex-start;
    max-width: none;
  }

  .main-header__phone {
    width: 140px;
    margin-top: 15px;
    margin-left: 128px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    display: block;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .main-header__burger {
    display: none;
  }

  .main-header__container {
    padding-left: 32px;
  }

  .main-header__logo {
    margin-right: 30px;
  }

  .main-header__nav {
    position: static;
    display: block;
    max-width: 755px;
    padding: 0;
    margin: 10px auto 0;
  }

  .main-header__phone {
    width: 157px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 18px;
    line-height: 18px;
  }
}
