.phone {
  line-height: 14px;
  font-weight: 600;
  text-align: right;
  color: $base-white;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus-visible {
    color: $primary-color;
  }

  &:active {
    color: $dark-blue;
  }

  &--dark {
    color: $primary-color;

    &:hover {
      color: $secondary-opacity;
    }

    &:focus-visible {
      color: $secondary-color;
    }
  }

  &--disabled {
    pointer-events: none;
    color: $base-grey;

    &:focus-visible {
      color: $base-grey;
    }
  }
}
