.progress__title {
  margin-bottom: 23px;
}

.progress__list {
  @include list-reset;

  padding-left: 29px;
  padding-right: 26px;
}

.progress__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 34px;
  font-size: 12px;
  line-height: 18px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: top left;

  &::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 18px;
    width: 2px;
    height: calc(100% + 25px);
    background-color: $secondary-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: -29px;
    width: 14px;
    height: 14px;
    background-color: $secondary-color;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  &--movement {
    background-image: url("../../__spritemap#sprite-map-icon-view");
  }

  &--equipment {
    background-image: url("../../__spritemap#sprite-boots-icon-black-view");
  }

  &--ecology {
    background-image: url("../../__spritemap#sprite-pine-tree-icon-view");
  }

  &--mountain {
    background-image: url("../../__spritemap#sprite-mountain-icon-view");
  }
}

@media (min-width: $tablet-width) {
  .progress__title {
    margin-bottom: 102px;
  }

  .progress__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 104px 160px;
    padding-left: 0;
  }

  .progress__item {
    margin-bottom: 0;
    padding-left: 35px;
    font-size: 14px;
    line-height: 22px;

    &::before {
      display: none;
      width: calc(100% + 10px);
      height: 2px;
      left: -10px;
      bottom: -8px;
      top: auto;
    }

    &::after {
      display: none;
      top: 100%;
      left: 10px;
      transform: none;
    }

    &--movement {
      order: 1;
    }

    &--equipment {
      order: 3;
    }

    &--ecology {
      order: 4;

      &::after {
        left: auto;
        right: 100%;
      }
    }

    &--mountain {
      order: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .progress__title {
    margin-bottom: 31px;
  }

  .progress__list {
    display: flex;
    gap: 0;
    padding: 0;
    padding-bottom: 14px;
  }

  .progress__item {
    margin-left: 10px;
    padding-right: 10px;
    width: 243.33px;
    font-size: 16px;
    line-height: 24px;

    &:last-child {
      &::before {
        display: block;
      }
    }

    &::before {
      display: block;
    }

    &::after {
      display: block;
    }

    &--movement {
      order: 1;

      &::before {
        width: 100%;
        left: 20px;
      }
    }

    &--equipment {
      order: 2;
    }

    &--ecology {
      order: 3;
    }

    &--mountain {
      order: 4;

      &::before {
        display: block;
        width: 440px;
      }
    }
  }
}
