.promo-tour {
  min-height: 568px;
  color: $base-white;
  background-color: $hero-bg;
}

.promo-tour__wrapper {
  position: relative;
}

.promo-tour__picture {
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $bg-gradient-primary;
  }

  img {
    display: block;
    width: 320px;
    height: 568px;
  }
}

.promo-tour__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 568px;
  max-width: 100%;
  padding: 70px 0;
  text-align: center;
}

.promo-tour__text-content {
  font-size: 15px;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.promo-tour__button {
  width: 180px;
  margin-top: 60px;
}

.promo-tour__characteristics {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .promo-tour__photos {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .promo-tour {
    min-height: 1034px;
  }

  .promo-tour__picture {
    img {
      width: 768px;
      height: 1034px;
    }
  }

  .promo-tour__info {
    min-height: 1034px;
  }

  .promo-tour__text-content {
    font-size: 17px;

    h2 {
      font-size: 56px;
      line-height: 56px;
    }

    p {
      padding: 0 50px;
    }
  }

  .promo-tour__button {
    margin-top: 35px;
  }

  .promo-tour__photos {
    margin-top: 45px;

    img {
      display: block;
      width: 442px;
      height: 365px;
    }
  }
}
