.promo-tour {
  min-height: 568px;
  color: $base-white;
  background-color: $hero-bg;
}

.promo-tour__wrapper {
  position: relative;
}

.promo-tour__picture {
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $bg-gradient-primary;
  }

  img {
    display: block;
    max-width: none;
    width: 320px;
    height: 568px;
  }
}

.promo-tour__info {
  position: relative;
  max-width: 100%;
  padding: 114.5px 0 70px;
  text-align: center;
}

.promo-tour__text-content {
  font-size: 15px;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.promo-tour__button {
  width: 180px;
  margin-top: 60px;
}

.promo-tour__characteristics {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .promo-tour__photos {
    display: none;
  }
}
