.reviews {
  .reviews__slider {
    width: 320px;
    margin-left: -15px;
  }
}

.reviews__wrapper {
  padding-top: 20px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .reviews {
    .reviews__slider {
      width: 768px;
      margin-top: -5px;
      margin-left: -45px;
      margin-right: -45px;
    }
  }

  .reviews__wrapper {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .reviews__title {
    max-width: 570px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-top: 100px;
    padding-bottom: 77px;
  }

  .reviews__title {
    max-width: 1040px;
    margin-bottom: 26px;
  }

  .reviews {
    .reviews__slider {
      width: 1320px;
      margin: 0;
    }
  }
}
