.review-card {
  height: 100%;
  margin: 0;
  padding: 20px;
  background-color: $base-white;
  border: 1px solid $base-white;
  box-shadow: 0 0 20px $dark-blue-opacity;
}

.review-card__image {
  margin-bottom: 20px;

  img {
    display: block;
    width: 250px;
    height: 169px;
  }
}

.review-card__text-content {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.review-card__name {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  font-style: normal;
}

.review-card__about {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: $tablet-width) {
  .review-card {
    display: flex;
    column-gap: 30px;
    box-shadow: 0 0 30px $dark-blue-opacity;
  }

  .review-card__image {
    width: 186px;
    flex-shrink: 0;
    margin-bottom: 0;

    img {
      width: 186px;
      height: 237px;
    }
  }

  .review-card__text {
    width: 299px;
    flex-shrink: 0;
    margin-top: -5.5px;
  }

  .review-card__text-content {
    margin-bottom: 25px;
  }

  .review-card__name {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
  }
}

@media (min-width: $desktop-width) {
  .review-card {
    padding-right: 40px;
    box-shadow: 0 0 20px $dark-blue-opacity;
  }

  .review-card__image {
    width: 258px;

    img {
      width: 258px;
      height: 253px;
    }
  }

  .review-card__text {
    width: 352px;
    margin-top: -10px;
  }

  .review-card__text-content {
    margin-bottom: -8px;
    font-size: 14px;
    line-height: 22px;
  }

  .review-card__name {
    margin-bottom: 8px;
  }
}
