.sub-footer {
  text-align: center;
  border-top: 1px solid rgba($primary-color, 0.2);
}

.sub-footer__wrapper {
  padding-top: 22px;
  padding-bottom: 20px;
}

.sub-footer__logo {
  margin-bottom: 15px;
}

.sub-footer__nav {
  margin-bottom: 12px;
}

.sub-footer__phone {
  display: none;
}

.sub-footer__privacy-policy {
  display: block;
  width: fit-content;
  margin: 23px auto 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $primary-color;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .sub-footer__wrapper {
    padding-top: 33px;
  }

  .sub-footer__container {
    display: flex;
    margin-right: -3px;
    margin-bottom: 34px;
    align-items: flex-start;
  }

  .sub-footer__logo {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .sub-footer__nav {
    margin: 14px 0 0 36.3px;
    column-gap: 12px;
    row-gap: 15px;
  }

  .sub-footer__privacy-policy {
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .sub-footer__wrapper {
    padding-top: 29px;
    padding-bottom: 32px;
  }

  .sub-footer__container {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .sub-footer__nav {
    max-width: 730px;
    padding: 0;
    margin: 23px auto 0;
    column-gap: 18px;
  }

  .sub-footer__phone {
    display: block;
    width: 145px;
    margin-top: 23px;
    margin-left: 55px;
    font-size: 18px;
    line-height: 18px;
  }

  .sub-footer__privacy-policy {
    margin-top: 22px;
  }
}
