.tours__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tours__title {
  margin-bottom: 25px;
}

.tours__link {
  margin: 25px auto 0;
}

@media (min-width: $tablet-width) {
  .tours__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .tours__title {
    max-width: 570px;
  }
}
