.training__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.training__title {
  margin-bottom: 18px;
}

.training__text-content {
  margin-bottom: 25px;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.training__progress {
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .training__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .training__title {
    margin-bottom: 26px;
  }
}
